/* * {
    overflow-x: hidden;
} */

* {
    overflow-x: hidden;
}

/* Estilização do Header */

.header-home {
    background-color: var(--dourado-claro);
    height: 56px;
    width: 100%;
    /* max-width: 100vw; */
    padding: 0px 8px 0px 0px;

    box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
    
}

.header-home::-webkit-scrollbar {
    width: 1px; /* Ajuste a largura da barra de rolagem conforme necessário */
    background-color: transparent; /* Define a cor de fundo da barra de rolagem como transparente */
}

.header-home::-webkit-scrollbar-thumb {
    background-color: transparent; /* Define a cor do polegar da barra de rolagem como transparente */
}

@media screen and (min-width: 768px) {
    .header-home {
        justify-content: space-between;
    }
}

.initial {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    font-size: 16px;
    min-width: 230px;
    margin-left: 8px;

    
}

.header-title {
    height: 100%;
    overflow-y: hidden;

}

/* Estilização do Main (Título principal e Vídeo) */

.main-page {
    width: 100%;
    height: 420px;
    padding: 10px 0px;
    background-image: url(../../public/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding-top: 100px; */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    color: white;
}

@media screen and (min-width: 768px) {
    .main-page {
        height: 680px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;  
    }
}

.container-title {
    height: 35%;
    width: 100%;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    /* padding-top: 80px; */


}
.main-title {
    /* position: relative; */
    /* bottom: -100px; */
    max-width: 100%;
    line-height: 31px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.36);
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    
} 

@media screen and (max-width: 365px) { 
    .main-page {
        height: 380px;
    }

    .main-title { 
        font-size: 24px;
    }
}

.container-video {
    height: 50%;
    width: 100%;

    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.main-video {
    max-width: 90%;
}

@media screen and (max-width: 365px) {
    .main-video {
        max-height: 160px;
    }

    .container-video {
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width: 768px) {
    .container-title {
        height: 20%;
    }
    .main-title {
        height: 100%;
        max-width: 80%;
    }
    .container-video {
        height: 60%;
    }

    .main-video {
        width: 700px;
        height: 400px;
    }
}

/* Seção Quem sou eu */

.section-whoAmI {
    height: 900px;
    width: 100%;
    
    color: white;
    background-image: url(../../public/historia-fe-catolica-lazzarotto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.title-whoAmI{
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    max-width: 80%;
    height: 100px;
    /* padding: 0px 30px 0px 0px; */

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.container-whoAmI {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: auto;
    width: 80%;
    max-width: 800px;
    height: 730px;
    padding: 10px;
    border-radius: 20px;

    background-color: var(--azul-claro-bg);
}

@media screen and (min-width: 768px) {

    .section-whoAmI {
        height: 700px;
    }

    .container-whoAmI {
        height: 530px;
    }
}

.description-whoAmI {
    height: 80%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1px;
}

.paragraph-whoAmI {
    max-height: 250px;
    width: 100%;
    line-height: 1.2;
}

@media screen and (max-width: 352px) { 

    .section-whoAmI {
        height: 840px;
    }

    .container-whoAmI {
        height: 670px;
    }

    .paragraph-whoAmI {
        font-size: 14px;
    }
}

.image-whoAmI {
    min-height: 220px;
    height: 220px;
    width: 220px;
    

}

.src-whoAmI {
    width: 100%;
    height: 100%;
}

.figure {
    /* padding: 10px; */
    
    display: flex;
    align-items: center;
}

.link {
    height: 100%;
    border-radius: 100%;
}

/* Seção Apoie este apostolado */

.section-endorse {
    height: 700px;
    width: 100%;

    background-color: var(--branco-bg);
    color: var(--azul-claro-bg);

}

.title-endorse {
    font-size: 24px;
    font-weight: bold;
    text-align: center;

    max-width: 80%;
    height: 100px;
    /* padding: 0px 30px 0px 0px; */

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.container-endorse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 15px;

    margin: auto;
    width: 85%;
    max-width: 800px;
    height: 580px;
    padding: 20px;
    border-radius: 10px;

    background-color: white;

}

.description-endorse {
    height: 90%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;

}

.paragraph-endorse {
    max-height: 50%;
    width: 100%;

    line-height: 22px;
}

#big-paragraph {
    min-height: 270px;
    /* color: red; */
}

@media screen and (max-width: 360px) { 
    .section-endorse {
        height: 720px;
    }

    .container-endorse { 
        height: 550px;
    }   

    .paragraph-endorse {
        font-size: 14px;
        max-height: 250px;
    }
}

@media screen and (min-width: 768px) {

    .section-endorse {
        height: 600px;
    }

    .container-endorse {
        height: 400px;
    }
}

.cta-endorse {
    width: 100%;
    height: 41px;
    display: flex;
    justify-content: center;
    
} 

.cta-link {
    width: 100%;
    height: 100%;
    border-radius: 10px;
   
}

.button-endorse {
    background-color: var(--dourado-escuro);
    width: 100%;
    height: 39px;
    border-radius: 10px;
    border: none;

    font-weight: bold;
    font-family: inherit;
    font-size: 14px;
    color: var(--azul-bg);

    cursor: pointer;
}

.button-endorse:hover {
    background-color: var(--dourado-fraco);
}

/* Seção Links */ 

.section-links {
    height: 350px;
    width: 100%;

    color: white;
}

.title-links {
    font-size: 22px;
    font-weight: bold;
    text-align: center;

    max-width: 80%;
    height: 100px;

    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

/* Footer */ 

.footer-home { 
    background-color: var(--dourado-fraco);
    height: 70px;
    width: 100%;
    /* max-width: 100vw; */
    padding: 0px 8px 0px 0px;

    box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 0px 1px 0px rgba(0,0,0,0.75);

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;

}

.copy {
    padding: 10px;
    margin: auto;
    font-size: 15px;
}

@media screen and (min-width: 768px) {
    .footer-home {
        height: 40px;
    }
}