.container-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    margin: auto;
    width: 80%;
    max-width: 800px;
    height: 200px;
    /* max-height: 100%; */
    padding: 10px;
    border-radius: 20px;

    background-color: var(--azul-claro-bg);
}

.link-box {
    width: 95%;
    height: 50px;

    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    color: white;
}

.link-box:visited {
    text-decoration: none;
    color: white;
}

.link-box:hover {
    text-decoration: none;
    color: white;
}



.link-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;

    
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
}

.svg {
    width: 70%;
    height: 70%;
    
}

.youtube-link {
    background-color: var(--vermelho-claro);
}

.youtube-link:hover {
    background-color: white;
    color: var(--vermelho-claro);
    box-shadow: inset 0 0 0 2px var(--vermelho-claro);
}

.telegram-link {
    background-color: #0088cc;
}

.telegram-link:hover {
    background-color: white;
    color: #0088cc;
    box-shadow: inset 0 0 0 2px #0088cc;
}

.instagram-link {
    background-color: rgb(225, 48, 108);
}

.instagram-link:hover {
    background-color: white;
    color: rgb(225, 48, 108);
    box-shadow: inset 0 0 0 2px rgb(225, 48, 108);
}

.link-label {
    height: 20px;
}