
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    margin-bottom: -5px;
    
}

@media screen and (min-width: 767px) {
    .menu {
        height: 100%;
        max-height: 100%;
        width: 600px;
        max-width: 80%;
        padding-right: 10px;

        display: flex;
        flex-direction: row;
    }
}

.iconMenu {
    width: 22px;
    height: 22px;
}

.drop-button {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: inherit;
    margin-top: -5px;
    padding: 0;
}   

.menu-itens {
    background-color: rgba(255, 255, 255, 0.96);
    padding: 5px;
    width: 170px;
    height: 140px;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    
}

.link-item {
    text-decoration: none;
    color: black;

    font-size: 14px;
}

/* Estilização dos itens Desktop */ 

.desktop-items {
    height: 100%;
    width: 100%;
    padding-right: 10px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    gap: 10px;

}

.link-header {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    text-decoration: none;
    color: black;
}

.link-header:visited {
    text-decoration: none;
    color: black;
}

.link-header:hover {
    text-decoration: none;
    color: black;
}

.item-header {
    height: 100%;
    text-align: center;
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-top: -5px;
}